// Colors
@white: #ffffff;
@primaryColor: #ff8744;
@secondaryColor: #212529;
@black: black;
@grey: grey;
@deepBlue: #383651;

// Fonts
@primaryFont: "Roboto", sans-serif;
@secondaryFont: "Ubuntu", sans-serif;

// Device
@mobile: ~"max-width: 500px";
@tablet: ~"max-width: 800px";
